@page
@model GoodsReseller.Api.Views.Yoga.Index
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    @* TODO: add favicons *@
    @* <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png"/> *@
    @* <link rel="android-touch-icon" sizes="180x180" href="/assets/favicons/android-touch-icon.png"/> *@
    @* <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png"/> *@
    @* <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png"/> *@

    <title>Набор для йоги купить</title>
</head>
<body>
<div>
    <h1>Набор для йоги</h1>
    <div id="product">
        <div id="product-name"></div>
    </div>
</div>
</body>
<script>
    async function getProduct() {
        const response = await fetch("/api/products/603f7f9f-3b94-4a8d-aba3-e8fcbec062d1", {
            method: "GET",
            headers: { "Accept": "application/json" }
        });
        
        if (response.ok === true) {
            const product = await response.json();
            document.getElementById("product-name").innerHTML = product.name
        }
    }
    
    getProduct()
</script>
</html>