{
	"presets": [
		[
			"@babel/env",
			{
				"useBuiltIns": "entry",
				"corejs": 2
			}
		],
		"@babel/typescript",
		"@babel/react"
	],
	"plugins": [
		"transform-class-properties",
		"babel-plugin-styled-components"
	]
}