@page
@model GoodsReseller.Api.Views.Home.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Goods Reseller</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"
    />
</head>
<body>
<div id="root" style="height: 100%;"></div>

<script defer src="/vendor.js" asp-append-version="true"></script>
<script defer src="/bundle.js" asp-append-version="true"></script>
</body>
</html>