@page
@model GoodsReseller.Api.Views.Home.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Подарочные наборы для мужчин - Купить в Москве</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="icon" href="/favicon.ico?v=2" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <meta name="google-site-verification" content="ztYw_TS1ckFCyb5NSYGIQCRK8nWjPIee2nN6sGmQFNY" />
    <meta name="yandex-verification" content="5fa1f9d82415dffc" />
</head>
<body>
<div id="root" style="height: 100%;"></div>

<script defer src="/vendor.js" asp-append-version="true"></script>
<script defer src="/bundle.js" asp-append-version="true"></script>
</body>
</html>